/* Global styles */
body { 
    font-family:Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    margin: 0;
    padding: 0;
}

/*centered container with card effect */
.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: White;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    border-radius: 12px;
}
/*Headigs */
h1 {
    text-align: center;
    color:#007acc;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #333;
    margin-bottom: #333;
}

/* forms layout */
form div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    font-weight: bold
}
input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* button styling */
button {
    padding: 12px 20px;
    background-color: #007acc;
    color:white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    font-size : 16px;
    width : 100%;
}

button:hover {
    background-color:#005fa3;
}

/* message styling */
.Message {
    margin-top:25px;
    color: green;
    font-weight: bold;
    text-align: center;
    font-size:16px;
}
/* Responsive design */
@media (max-width: 600px) {
    .container {
        margin:20px;
        padding: 20px;
    }
    input,
    select,
    button {
        font-size:14px;
        padding:8px;
    }
}
